<launch>
    <!-- Launch the drive_bot node from the ball_chaser package -->
    <node name="drive_bot" pkg="ball_chaser" type="drive_bot" output="screen" />

    <!-- Launch the process_image node -->
    <node name="process_image" pkg="ball_chaser" type="process_image" output="screen" />
</launch>

